<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Äk">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="/cat-favicon-mint-copy.png" title="Favicon" />
</head>

<body>
    <div class="">
        <pre>Hello</pre>
    </div>
</body>

</html>